@charset "UTF-8";

.normal {
    background-color: #a9a974;
}
.fire {
    background-color: #f17f30;
}
.water {
    background-color: #6890ef;
}
.grass {
    background-color: #77c74f;
}
.eletric {
    background-color: #f8d031;
}
.ice {
    background-color: #98d8d8;
}
.ground {
    background-color: #dfbf66;
}
.flying {
    background-color: #a890f0;
}
.posion {
    background-color: #a03f9f;
}
.fighting {
    background-color: #c02e2a;
}
.psychic {
    background-color: #f35988;
}
.dark {
    background-color: #715848;
}
.rock {
    background-color: #b7a038;
}
.bug {
    background-color: #a8b820;
}
.ghost {
    background-color: #715899;
}
.steel {
    background-color: #b8b8cf;
}
.dragon {
    background-color: #7237f8;
}
.fairy {
    background-color: #f9aec9;
}




.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr;
}

.pokemon{
    color: white;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .name{
    text-transform: capitalize;
}

.pokemon .number{
    color: #1a1a1a;
    text-align: right;
    font-size: 0.625rem;
    opacity: 0.6;
}

.pokemon .detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img{
    height: 70px;
}

.pokemon .detail .types{
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon .detail .type{
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    margin: 0.25rem 0;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: itens;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

.pagination button:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}