@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html{
    background-color: #F9F9F9;
}

header{
    background-color: white;
    width: 100vw;
    height: 8vh;

    padding: 0px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    height: 24px;
    width: 146px;
    display: flex;
    gap: 20px;
}

nav img{
    object-fit: cover;
    cursor: pointer;
}

#pesquisa{
    width: 404px;
    height: 40px;
    display: flex;
}

#caixaPesquisa{
    background-color: white;
    border: 1px solid #CCCCCC;

    width: 348px;
    height: 40px;

}

#botao{
    width: 57px;
    height: 40px;

    background: #F8F8F8;
    border: 1px solid #CCCCCC;

    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#botao img{
    width: 20px;
}

#icones{
    width: 130px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icones img{
    height: 30px;
    width: 30px;

    cursor: pointer;
}

#sino{
    width: 28px;
    height: 28px;
}

article{
    width: 100vw;
    height: 92vh;

    display: flex;
}

section{
    width: 70vw;
    height: 92vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video{
    height: 537px;
    width: 952px;
    margin-top: 20px;
    background-color: black;
}

#aVideo{
    width: 952px;

    display: flex;
    flex-direction: column;

    margin-top: 70px;
}

#aVideo h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    margin: 16px 0px;
}

#acoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#canal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#canal img{
    width: 42px;
    height: 42px;

    cursor: pointer;
}

#inscritos p, #inscritos h3{
    font-size: 14px;
}

#botaoInscrever{
    width: 159px;
    height: 40px;

    background-color: #CC0000;
    color: white;

    border: 0;

    cursor: pointer;
}

#botaoInscrever span{
    font-size: 14px;
    line-height: 16px;
}

#botaoAcao{
    width: auto;
    height: 24px;

    display: flex;
    align-items: center;

    gap: 10px;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

#botaoAcao img{
    width: 20px;
    height: 20px;
}

#views{
    margin: 16px 0px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

#descricao{
    width: 515px;
    height: 64px;

    font-size: 14px;
    line-height: 16px;

    color: #515151;
}

aside{
    width: 27vw;
    height: 92vh;

    margin-top: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.videoIndicado{
    display: flex;
    gap: 16px;
}

#thumb{
    width: 160px;
    height: 90px;

    object-fit: cover;
}

#descricaoVideoIndicado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 196px;
    height: 89px;
}

#descricaoVideoIndicado h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

#descricaoVideoIndicado h4{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #515151;
}