@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header{
    min-height: 459px;
    max-height: 506px;
    width: 100vw;
    background-image: url("/assets/imagens/Header\ Background.png");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px 24px;
}

header h1{
    width: 278px;
    height: 64px;

    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    margin: 0px 0px 24px;
    color: #FFFFFF;
}

header p{
    text-align: justify;
    word-wrap: break-word;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 24px;

    color: #FFFFFF;
}

#heaederContent{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

button{
    font-weight: 400;
    line-height: 22px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;

    border-radius: 50px;
    border: none;

    width: 100%;
    max-width: 500px;
}

#baixar{
    color: #23272A;
}

#abra{
    background-color: #23272A;
    color: white;
}

#botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 100%;
}

article{
    width: 100vw;
}

section{
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: center;
}

section h2{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;

    color: #23272A;
}

section p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #23272A;
}

.sectionGrey{
    background: #F6F6F6;
}

section h1{
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    color: #23272A;
}

section img{
    align-items: center;

    object-fit: contain;
}

footer{
    width: 100vw;
    height: 140px;
    left: 0px;
    top: 2652px;

    background: #23272A;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 720px) {
    #heaederContent{
        align-items: center;
    }

    #heaederContent h1{
        width: 313px;
        height: 112px;
        
        font-weight: 400;
        font-size: 56px;
        line-height: 56px;
        text-align: center;   
    }

    #heaederContent p{
        text-align: center;
    }

    #botoes{
        flex-direction: row;
    }

    body{
        align-items: center;
        justify-content: center;
    }

    section {
      flex-direction: row;
      padding: 40px 150px;
      margin: 0px;
    }

    section img{
        width: 100%;
        max-width: 600px;
    }

    #coluna{
        flex-direction: column;
        align-items: center;
    }

    #coluna img{
        width: 100%;
        max-width: 700px;
    }

    #coluna .descricao{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #coluna h1{
        width: 608px;
        height: 80px;

        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }

    #coluna p{
        width: 100%;
        max-width: 802px;
    }

    .descricao{
        width: 348px;
    }

    .descricao h2{
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;

        min-width: 348px;
    }
}
