*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;

  color: white;

  background: linear-gradient(135deg, #7404BF, black 30%, black 70%, #AB05F2);
}


main{
  margin: 1em;
  padding: 1em;
  border: 1px solid white;
  border-radius: 1em;
}