#skills{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#habilidadesPro{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

#habilidadesPes{
  width: 100%;  
}

.techs{
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: auto;
}

#js{
  background: url(/javascript/Bootcamp-FormacaoJavaScriptDeveloper/modulo04/portifolio/assets/img/icons/js.svg);
}

#node{
  background: url(/javascript/Bootcamp-FormacaoJavaScriptDeveloper/modulo04/portifolio/assets/img/icons/node.svg);
}

#html{
  background: url(/javascript/Bootcamp-FormacaoJavaScriptDeveloper/modulo04/portifolio/assets/img/icons/html.svg);
}

#css{
  background: url(/javascript/Bootcamp-FormacaoJavaScriptDeveloper/modulo04/portifolio/assets/img/icons/css.svg);
}