@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh; /* Define a altura total da tela */
  }

nav{
    background-color: red;
}

main{
    background-color: blue;
}